<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>209656909744-0k4ihvlfrf5ojjltrhos5eg14h0ictj6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.209656909744-0k4ihvlfrf5ojjltrhos5eg14h0ictj6</string>
	<key>API_KEY</key>
	<string>AIzaSyCXRPbHGhDLUh0MQ31XcH2lFkqP0SgXtEo</string>
	<key>GCM_SENDER_ID</key>
	<string>209656909744</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>busesahinbas.WatchTime</string>
	<key>PROJECT_ID</key>
	<string>watchtime-5bec6</string>
	<key>STORAGE_BUCKET</key>
	<string>watchtime-5bec6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:209656909744:ios:23e70a65499076f9505075</string>
</dict>
</plist>